### Group Members:  
### Semester:
### Section:
### Project Number:

## Importing the necessary libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

print("everything imported correctly!")

everything imported correctly!

In [60]:
'''STEP 1'''
#read the 'bank-additional-full.csv' file

#since it is separated my semicolons we need to set the param to ';'
df = pd.read_csv('bank-additional-full.csv', sep = ';', header = None)

#check the first row
print(df.head())
y = df.iloc[1:, 20] #this is the output variable dataframe
X = df.iloc[1:, 0:20] #this is the rest of the factors except the output variable
#print(y)
#print(X)

    0          1        2            3        4        5     6          7   \
0  age        job  marital    education  default  housing  loan    contact
1   56  housemaid  married     basic.4y       no       no    no  telephone
2   57   services  married  high.school  unknown       no    no  telephone
3   37   services  married  high.school       no      yes    no  telephone
4   40     admin.  married     basic.6y       no       no    no  telephone

      8            9   ...        11     12        13           14  \
0  month  day_of_week  ...  campaign  pdays  previous     poutcome
1    may          mon  ...         1    999         0  nonexistent
2    may          mon  ...         1    999         0  nonexistent
3    may          mon  ...         1    999         0  nonexistent
4    may          mon  ...         1    999         0  nonexistent

             15              16             17         18           19  20
0  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
1           1.1          93.994          -36.4      4.857         5191  no
2           1.1          93.994          -36.4      4.857         5191  no
3           1.1          93.994          -36.4      4.857         5191  no
4           1.1          93.994          -36.4      4.857         5191  no

[5 rows x 21 columns]

/Users/devinheng/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,10,11,12,13,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [61]:
'''STEP 2'''
from sklearn.model_selection import train_test_split

#we use train_test_split to randomly generate sets and we also split the output value already
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=(2021-10-25)) # 20% test, 80% train

'''
print(X_train)
print(X_test)
print(y_train)
print(y_test)
'''

'\nprint(X_train)\nprint(X_test)\nprint(y_train)\nprint(y_test)\n'

In [62]:
'''STEP 3'''
#drop the 'duration' column from both train and test since it will affect the output highly
X_train = X_train.drop([10], axis = 1)
X_test = X_test.drop([10], axis = 1)

In [65]:
print(X_train[11])

22976     5
14747     1
12506     1
6802      2
18390     3
         ..
17988    13
20300     5
14557     1
28982     1
32765     5
Name: 11, Length: 37069, dtype: object